* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 1rem/1.5 Roboto, Arial, sans-serif;
}

table {
    min-width: 717px;
    border-collapse: collapse;
    background-color: #ffffff;
}

th,
td {
    min-width: 120px;
    padding: 8px;
    text-align: left;
    border: 1px solid #cccccc;
}

tbody td:last-child {
    text-transform: capitalize;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

form fieldset {
    width: 400px;
    padding: 22px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 12px 0 rgb(0 0 0 / 5%);
}

form legend {
    text-align: center;
    padding: 0 5px;
}

form input,
form select {
    display: block;
    margin: 10px 0;
}

form select {
    width: 100%;
    height: 35px;
}

form input[type="search"] {
    height: 35px;
    border: none;
    padding: 0 10px 0 34px;
    outline: 1px solid #000000;
    background-image: url("../assets/img/search.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 5px center;
}

form input[type="number"] {
    height: 25px;
    padding: 0 5px;
    border: none;
    outline: 1px solid #000000;
}

form div button {
    cursor: pointer;
    height: 30px;
    width: 120px;
}

form div {
    margin: 15px 0 10px 0;
}

label:has(input[id*="rate"]) {
    position: relative;
}

input#max-rate:out-of-range,
input#min-rate:out-of-range {
    outline: 1px solid #ff0000;
}

label:has(input[id*="rate"]:out-of-range) span::after {
    content: "Out of range";
    color: #ff0000;
    font-size: 0.9rem;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0%, 0%);
}
